<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxz.dao.user.UserMapper">

    <select id="findUser" resultType="User" parameterType="User">
        SELECT u.*,dic.valueName typeName FROM user u
		INNER JOIN dictionary dic on dic.valueId=u.type
		where dic.typeCode='USER_TYPE'and enables= 1
       	<if test="user.id !=null" >and u.id=#{user.id}</if>
        <if test="user.code !=null" >
        	and (u.code=#{user.code} or u.email=#{user.code} or u.phone=#{user.code})
        </if>
    </select>

    <update id="updateUser" parameterType="User" >
        UPDATE `user`
        <trim prefix="set" suffixOverrides="," suffix="where id=#{user.id}">
            <if test="user.code !=null">`code` = #{user.code},</if>
            <if test="user.password !=null">`password` = #{user.password},</if>
            <if test="user.lastLoginTime !=null">`lastLoginTime` = #{user.lastLoginTime},</if>
            <if test="user.lastLogOutTime !=null">`lastLogOutTime` = #{user.lastLogOutTime},</if>
            <if test="user.type !=null">`type` = #{user.type}</if>
            <if test="user.enables !=null">`enables` = #{user.enables}</if>
        </trim>
    </update>
    
    <select id="findUserList" resultType="User">
        SELECT u.*,dic.valueName typeName FROM user u
		INNER JOIN dictionary dic on dic.valueId=u.type
		where dic.typeCode='USER_TYPE' 
		<if test="user.enables !=null">and u.enables =#{user.enables}</if>
        <if test="user.code !=null" >
        	and (u.code=#{user.code} or u.email=#{user.code} or u.phone=#{user.code})
        </if>
        ORDER BY createDate desc
		LIMIT #{pageIndex},#{pageSize}
    </select>
    
    <select id="getUserCount" resultType="int" parameterType="User">
        SELECT count(1) FROM user u
		where 1=1
		<if test="user.enables !=null">and u.enables =#{user.enables}</if>
        <if test="user.code !=null" >
        	and (u.code=#{user.code} or u.email=#{user.code} or u.phone=#{user.code})
        </if>
    </select>
    
    <insert id="addUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO `user`(`code`, `email`, `phone`, `password`, `createDate`,
		 `type`, `enables`)
		VALUES (#{code}, #{email}, #{phone}, #{password}, #{createDate},#{type}, #{enables});
    </insert>
    
    <delete id="deleteUser" parameterType="int">
    	DELETE FROM `user` where id=#{id}
    </delete>

</mapper>
